@import "tailwindcss";
@import "./resets.css";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* References Tailwind CSS' "zinc" color group. */
  --color-neutral-50: oklch(0.985 0 0);
  --color-neutral-100: oklch(0.967 0.001 286.375);
  --color-neutral-200: oklch(0.92 0.004 286.32);
  --color-neutral-300: oklch(0.871 0.006 286.286);
  --color-neutral-400: oklch(0.705 0.015 286.067);
  --color-neutral-500: oklch(0.552 0.016 285.938);
  --color-neutral-600: oklch(0.442 0.017 285.786);
  --color-neutral-700: oklch(0.37 0.013 285.805);
  --color-neutral-800: oklch(0.274 0.006 286.033);
  --color-neutral-900: oklch(0.21 0.006 285.885);
  --color-neutral-950: oklch(0.141 0.005 285.823);

  --font-sans:
    -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
}

/**
 * Set background color at body-level.
 */

body {
  @apply bg-neutral-50 dark:bg-neutral-950;
}

/**
 * Prevent the "rubber band" overscroll effect.
 */

html {
  overflow: hidden;

  body {
    overflow: auto;
    height: 100vh;
    overscroll-behavior: contain;
  }
}

/**
 * Configure default Typography styles.
 */

h1 {
  @apply mb-8 text-5xl font-semibold text-neutral-950 dark:text-neutral-100;
}

h2 {
  @apply mb-4 text-xl font-semibold text-neutral-950 dark:text-neutral-100;
}

p {
  @apply mb-2 text-base text-neutral-700 last-of-type:mb-6 dark:text-neutral-200;
}
