name: Validate Pull Requests

on:
  pull_request:
    branches:
      - main

jobs:
  run-linters:
    name: Run Linter & Formatter
    runs-on: ubuntu-latest
    steps:

      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Configure Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 22
        
      - name: Install Dependencies
        run: npm ci
        
      - name: Run Linter and Formatter
        uses: wearerequired/lint-action@v2
        with:
          eslint: true
          prettier: true
